<div class="row justify-content-center">
    <div class="col-8">
        <div>
            <jhi-alert-error></jhi-alert-error>
            <div class="upload-container">
                <div class="upload-header">
                    <h2>Upload file/files</h2>
                    <button type="button" class="btn cancel-button"  (click)="previousState()">
                        <fa-icon [icon]="'times'">
                    </button>        
                </div>
                <div class="upload-content">
                    <div class="single-upload">
                        <h3>Upload Single File</h3>
                        <form id="singleUploadForm" name="singleUploadForm" (ngSubmit)="saveSingleFile()" #editSingleFileForm="ngForm">
                            <input type="text" class="file-input" name="description" id="singleFileUploadInput_description"
                                [(ngModel)]="singleFileDescription" placeholder="Description"/>
                            <input id="singleFileUploadInput" type="file" name="file" class="file-input"
                                (change)="singleFileEvent($event)" required />
                            <button type="submit" class="primary submit-btn" [disabled]="editSingleFileForm.form.invalid || isSaving">Submit</button>
                        </form>
                        <div class="upload-response">
                            <div id="singleFileUploadError"></div>
                            <div id="singleFileUploadSuccess"></div>
                        </div>
                    </div>
                    <div class="multiple-upload">
                        <h3>Upload Multiple Files</h3>
                        <form id="multipleUploadForm" name="multipleUploadForm" (ngSubmit)="saveMultipleFile()" #editMultipleFileForm="ngForm">
                            <input type="text" class="file-input" name="description" id="multipleFileUploadInput_description"
                                [(ngModel)]="multipleFileDescription" placeholder="Description"/>
                            <input id="multipleFileUploadInput" type="file" name="files" class="file-input" 
                                (change)="multipleFileEvent($event)" multiple required />
                            <button type="submit" class="primary submit-btn" [disabled]="editMultipleFileForm.form.invalid || isSaving">Submit</button>
                        </form>
                        <div class="upload-response">
                            <div id="multipleFileUploadError"></div>
                            <div id="multipleFileUploadSuccess"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
